#group-show {
  .groups-btn-actions {
    .group-name-and-logo {
      img {
        width: 50px;
      }

      span.group-name {
        font-size: 24px;
      }
    }

    .groups-actions {
      a {
        font-size: 18px;
      }
    }
  }
}