#main-header-navbar {
  background-color: var(--main-bg-color);

  .user-avatar {
    width: 25px;
  }

  .header-wrap {
    position: relative;
  }

  #toasts-messages {
    position: relative;

    .toast-item {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      width: 30vw;
    }
  }

}

#main-header-navbar-mobile {
  nav {
      background-color: var(--main-bg-color);
      color: white;
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      z-index: 9999;
  }

  /*** INPUT ***/
  nav input {
      opacity: 0;
      position: absolute;
      z-index: -1;
  }

  /*** LABEL ***/
  nav label {
      cursor: pointer;
      display: block;
      font: 2em/1 'Oswald', sans-serif;
      padding: 0.5em;
  }

  /* Hamburger Icon */
  #menu-icon,
  #menu-icon:before,
  #menu-icon:after {
      background: white;
      border-radius: 0.05em;
      height: 0.2em;
      transition: all 0.2s ease-in-out;
      width: 100%;
  }

  #menu-icon {
      display: inline-block;
      margin: 0.4em 0;
      max-width: 1em;
      position: relative;
  }

  nav label #menu-icon {
      float: right;
  }

  #menu-icon:before,
  #menu-icon:after {
      content: '';
      left: 0;
      position: absolute;
  }

  #menu-icon:before {
      top: -0.4em;
  }

  #menu-icon:after {
      bottom: -0.4em;
  }

  /* Close Icon */
  nav input[type=checkbox]:checked + label #menu-icon {
      background: transparent;
  }

  nav input[type=checkbox]:checked + label #menu-icon:before {
      top: 0;
      transform: rotate(-45deg);
  }

  nav input[type=checkbox]:checked + label #menu-icon:after {
      bottom: 0;
      transform: rotate(45deg);
  }


  /*** MENU ***/
  /* Overlay */
  nav input:checked ~ #overlay {
      background-color: var(--main-bg-color);
      bottom: 0;
      left: 0;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      width: 100vw;
      z-index: -1;
  }

  /* List */
  nav ul {
      font-size: 1.5em;
      list-style: none;
      margin: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0;
      text-align: center;
  }

  nav input:checked ~ ul {
      margin: 1em;
      max-height: inherit;
      opacity: 1;
  }

  nav ul > li {
      margin: 0.5em 0;
  }

  nav ul a {
    color: white;
    text-decoration: none;
  }

  nav ul a:hover {
    color: #444141;
  }

  nav ul a:hover {
      text-decoration: underline;
  }

  /* Social Media */
  nav ul#social-media > li {
      display: inline-block;
      font-size: 1.5em;
      margin: 0.5em;
  }
}
