#home-page {
  min-height: 100vh;
  background-image: image-url("/assets/shared/home-bg.png");
  background-color: white;
  background-position: center center;
  background-size: cover;

  .sign-in-groups-btn {
    .sign-in-btn {
      background-color: var(--main-bg-color);
    }

    .sign-up-btn {
      border: 1px solid var(--main-text-color);
      
      a {
        color: var(--main-bg-color);
      }
    }
  }
}