#user-edit-page {
  legend.col-form-label {
    display: none;
  }

  .custom-control.custom-control-inline {
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }


  .collection_check_boxes {
    font-size: 18px;
  }
}