#sign-in-page {
  min-height: 100vh;
  // background-image: image-url("/assets/shared/home-bg.png");
  background-color: white;
  background-position: center center;
  background-size: cover;

  .sign-in-btn {
    color: white;
    background-color: var(--main-bg-color);
  }

  .sign-up-btn {
    border: 1px solid var(--main-text-color);
      
    a {
      color: var(--main-bg-color);
    }
  }

  .sign-in-form {
    background-color: #ffffff;
    box-shadow: 3px 2px 30px #cccccc;
  }
}